body {
    background: linear-gradient(to bottom, #3498db, #2ecc71);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    width: 70vw;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input[type="text"],
input[type="email"],
select,
textarea {
    border: 2px solid #3498db;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 100%;
}


input[type="submit"],
input[type="reset"] {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #2ecc71;
}

