.div1{
    border: 1vh solid;
    width: 65%;
    background-color: white;
    font-size: 2vw;
}

.div2{
    border: 6px solid ;
    width: 620px;
    background-color: white;
    font-size: 14px;
}

h1{
    text-align: center;
}

body{

    background-color: rgba(0, 191, 255, 0.404);
}
